- if @user.blank?
  User does not exist or was removed
  %br
- else
  %h1 Editing user
  = form_for @user, url: user_path(@user.pseudonym), method: :put, html: { autocomplete: 'off' } do |f|
    = render 'form', f: f
= link_to 'Back', users_path
