%p
  %b Title:
  = @company.title
%hr
- if @user && access_by_user_id(@user._id)
  = link_to 'Edit', edit_company_path(@company.tag)
  |
  = link_to 'Destroy', company_path(@company.tag), method: :delete, data: { confirm: 'Are you sure?' }
  |
