- if @company.errors.any?
  #error_explanation
    %h2 #{pluralize(@company.errors.count, 'error')} prohibited this company from being saved:
    %ul
      - @company.errors.full_messages.each do |msg|
        %li= msg
- if %w[create new].include?(action_name)
  .field
    = f.label :tag
    = f.text_field :tag
.field
  = f.label :title
  = f.text_field :title
.actions= f.submit 'Save'
