%h2
  Posts [
  = link_to @posts.count, posts_path
  - if current_user
    = link_to '+', new_user_post_path(user_pseudonym: current_user.pseudonym)
  - else
    +
  - if @posts_archive.count.positive?
    = link_to @posts_archive.count, posts_path(archive: 1)
  - else
    0
  ]
- collection = params[:archive].present? ? @posts_archive : @posts
- index = (collection.current_page - 1) * collection.default_per_page
- if collection.present?
  %table
    %thead
      %tr
        %th= collection.current_page
        %th $
        %th Title
        %th Company
        %th Author
        %th Access
    %tbody
      - collection.each do |post|
        - item = post.slug
        %tr
          %td= index += 1
          %td= link_to item, post_path(item)
          %td= post.title
          %td= company_by_id(post.company_id).present? ? company_by_id(post.company_id).title : '-'
          %td= user_by_id(post.user_id).present? ? user_by_id(post.user_id).name : 'removed'
          %td
            - if post.deleted_at.present?
              nobody
            - else
              = post.keyword.present? ? 'keyword / company' : 'everyone'
  - if params[:archive].present?
    = paginate @posts_archive
  - else
    = paginate @posts
- else
  Nothing so far...
